body {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: monospace;
  transition: all 2s ease;
}




.text-typing h1 {
  margin:0px;
  white-space:nowrap;
  overflow:hidden;
  animation:typing 15s infinite steps(100,end) forwards, 
          blink 1s infinite
  
} @keyframes typing {
  0% {width: 0%}
    50% {width: 100%}
  100% {width: 0% }
  
} @keyframes blink {
  0%, 100%{
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid #222;
  }
}
    
